body {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(255,156,0,1) 50%, rgba(255,96,0,1) 100%) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  
}

header {
  text-align:center;
  border-bottom: 1px solid white;
  height:100px;
  margin:auto 3%;
}
h1 {
  color:white;
  font-size:3em;
  font-family:'Notable', Helvetica, Arial, sans-serif;
  letter-spacing:.3em;
}
h2 {
  color:black;
  font-size:25px;
  font-family:'Ubuntu', Arial, Helvetica, sans-serif;
}
h4 {
  color:white;
}
footer {
  display:grid;
  margin-left:3%;
  color:white;
  grid-template-columns: 1fr 1fr;
}
#search {
  position:absolute;
  height:2.5em;
  width:12em;
  top:1.5em;  
  left:34em;
}
#button-search, #button-trending, #button-random {
  background-color:black;
  color:white;
  position: absolute;
  border-style:round;
  border-radius:.5em;
  width:9em;
  top:1em;
  left:13em;
  font-family:'Ubuntu', sans-serif;
  font-size:1em;
  line-height: 2em;
} 

.contentRows {
  display:grid;
  border: 1px solid white;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  height: 100%;
  margin: 0 3% 8% 3%;
}

.subHeader {
  display:flex;
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(255,220,29,1) 41%, rgba(238,114,9,1) 78%);
  border-bottom:1px solid white;
  height:9vh;
  /* position:relative; */
  padding-left:1em;
}

.gif-row {
  display:flex;
  justify-content:space-evenly;
  flex-wrap:nowrap;
  border: 1px solid white;
  overflow:hidden;
  margin:0;
  padding-left:0;
}

#footerNotes {
  color:white;
  font-size:1em;
}
#react-button {
  grid-column-start:2;
  grid-column-end:3;
  background-color:black;
  color:white;
  border-style:round;
  border-radius:2em;
  font-size:3em;
  justify-self:center;
}
#check-list {
  grid-column-start:1;
  grid-column-end:2;
  position:relative;
}

@media only screen and (max-width:480px)  {
  body {
    display:inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  header {
    margin:0 auto;
  }
  /* body, html {
    display:inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  } */
  footer {
    display:none;
  }
  .gif-row {
  overflow:auto;
  }
  .subHeader {
    display:block;
    background-color:black;
    /* position:static; */
  }
}